.header{
    grid-area: header;
    background-color: #3e6473;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.header .logo{
    font-weight: bold;
    font-size: 24px;
    color: white;
}
.login{
    font-size: 18px;
    color: white;
    margin-right: 15px;
}
