.dialogues{
    display: flex;
    padding: 15px;
}
.dialogues_item{
    width: 25%;

    border-right: 1px solid;
}
.dialogues_item .dialog{
    margin-bottom: 15px;
}
.messages{
    width: 75%;
padding-left: 15px;
}