.bg_content{
    height: 200px;
    overflow: hidden;
    margin-bottom: 15px;
}

.bg_content img{
    height: auto;
    width: 100%;
    background-size: cover;
    margin-top: -150px;
}

.description_block{
    padding: 0 15px;
}

.user_info{
    display: flex;
}

.social_link{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
